<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <style>
    .c{
      color:red;
    }
  </style>
</head>
<body>
  <h1>hi there from Shared</h1>
  <h1>Here are some delicious foods !</h1>
  @{
    var StringList = new List<string>(){
      "Apple Pie",
      "Burritos",
      "Clams Casino",
      "Donuts"
      };

      foreach(var word in StringList)
      {
        if(word[0] == 'C'){
          <p class= "c">@word</p>
        }
        <p>@word</p>
      }
  }


</body>
</html>