*{
    margin: 0;
    padding: 0;
}

.row {
    line-height: 0;
}

.wall {
    background-color: blue;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("../imgs/sushi.png");
    background-size: contain;
}

.onigiri {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("../imgs/onigiri.png");
    background-size: contain;
}

.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}

#ninjaman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("../imgs/ninja.gif");
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}
#scaredy {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("../imgs/scaredy.png");
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}


h3 {
    font-size: 80px;
    float: left;
    margin-left: 200px;

}
#world {
    float: left;
}